@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
}

html{
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}


/* --------------------------------------- DARK THEME --------------------------------------- */

.dark{
  --background: rgb(0,0,0);
  --text-color: rgb(255,255,255);
  --primary-button: linear-gradient( #ff5e00,#ff8800);
  --secondary-button: rgb(20, 23, 28)
}

/* --------------------------------------- LIGHT THEME --------------------------------------- */

.light{
  --background: rgb(255,255,255);
  --text-color: rgb(0,0,0)
  --primary-button: linear-gradient( #ff5e00,#ff8800);
  --secondary-button: rgb(243, 243, 243);
}