@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{ box-sizing: border-box; }

html, body, main{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

:root{
  --primary-color-button: #ff5e00;
  --secondary-color-button: #f78544;

}


/* --------------------------------------- DARK THEME --------------------------------------- */

.dark{
  --background: rgb(0,0,0);
  --text-color: rgb(255,255,255);

  --secondary-button: rgb(20, 23, 28);
  --secondary-button-hover: rgb(31, 36, 44);
  
  --sidebar-text-color: rgb(164, 164, 164);

  --login-modal: rgb(20, 23, 28);
  --login-modal-border: transparent;
}

/* --------------------------------------- LIGHT THEME --------------------------------------- */

.light{
  --background: rgb(255,255,255);
  --text-color: rgb(0,0,0);

  --secondary-button: rgb(235, 235, 235);
  --secondary-button-hover: rgb(201, 201, 201);

  --sidebar-text-color: rgb(114, 114, 114);
  
  --login-modal: rgb(255, 255, 255);
  --login-modal-border: black;

}