@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
  --breakpoint-sidebar: 1030px;
  --breakpoint-profile: 469px;
}

*{ box-sizing: border-box; }

html, body, main{
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html{
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

:root{
  --primary-color-button: #ff5e00;
  --secondary-color-button: #f78544;
  --border: oklch(0.922 0 0);
  
  --login: rgba(0,0,0,0.4);
  --login-hover: rgba(255,255,255,0.1);
}

/* --------------------------------------- DARK THEME --------------------------------------- */

.dark{
  --background: rgb(0, 0, 0);
  --text-color: rgb(255,255,255);

  --secondary-button: rgb(20, 23, 28);
  --secondary-button-hover: rgb(31, 36, 44);

  --sidebar-text-color: rgb(164, 164, 164);

  --login-modal: rgb(20, 23, 28);
  --login-modal-border: transparent;

  --username-color: rgb(147, 197, 253);
  --profile-hover: rgb(20, 23, 28);

  --myprofile-container: rgb(107, 114, 128);
  --border: oklch(1 0 0 / 10%);

  --confirm-button: rgb(20, 23, 28);
  --code-editor: rgb(20, 23, 28);

  --tags: rgb(31, 36, 44);
  --codeEdit-tag: rgb(31, 36, 44);

  --like-color: white;
  --loading: rgb(20, 23, 28);
  --loading-layer: rgb(31, 36, 44);
}

/* --------------------------------------- LIGHT THEME --------------------------------------- */

.light{
  --background: rgb(255,255,255);
  --text-color: rgb(0,0,0);

  --secondary-button: rgb(235, 235, 235);
  --secondary-button-hover: rgb(201, 201, 201);

  --sidebar-text-color: rgb(114, 114, 114);

  --login-modal: rgb(255, 255, 255);
  --login-modal-border: black;

  --username-color: black;
  --profile-hover: #bebebe4d;

  --myprofile-container: rgb(222, 222, 222);
  
  --confirm-button: rgb(0, 0, 0);
  --code-editor: rgb(83, 83, 83);

  --tags: rgb(236, 236, 236);
  --codeEdit-tag: rgb(232, 232, 232);

  --like-color: rgb(222, 222, 222);
}

::-webkit-scrollbar {
  width: 8px;          /* largura da barra */
  height: 8px;         /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;  /* track transparente */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* cor do dedinho */
  border-radius: 9999px;     /* deixar arredondado */
  border: 2px solid transparent; /* margem interna opcional */
}
